*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
header{
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    height: 40px;
}

header button{
    color: #fff;
    border-radius: 5px;
    background-color: #4A4A4A;
    padding: 4px ;
    border: none;
}
