*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #fff;
    height: 100vh;
}

.container {
    max-width: 1850px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    height: 40px;
}

header button{
    color: #fff;
    border-radius: 5px;
    background-color: #4A4A4A;
    padding: 4px ;
    border: none;
}
main{
    margin-top: 50px ;
    height: calc(100vh - 100px);
    overflow: auto;     
}
.user{
    position: relative;
    margin-right: 6px;
}
.user-name{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, 0.6);
    padding: 6px;
}


footer{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    height: 60px;
}